﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="Consultar.aspx.cs" Inherits="Interfaz.Consultar" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:GridView ID="GvConsultar" runat="server" OnSelectedIndexChanged="GvConsultar_SelectedIndexChanged">
    </asp:GridView>
</asp:Content>
