﻿* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #ededed;
}

nav {
    background: #88C5FF;
    height: 40px;
    width: 100%;
    margin-top: 0px;
}

logo {
    height: 70px;
    width: 90px;
}

imagen {
    height: 70px;
    width: 90px;
    margin-top: 10px;
}

nav ul {
    text-align: center;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 40px;
        margin: 0 5px;
    }

        nav ul li a {
            color: #fff;
            padding: 7px 13px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 15px;
        }

li a.active, li a:hover {
    background: #000090;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

        nav ul li a {
            font-size: 20px;
        }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/*Con el heignt se agranda la pagina*/
.main {
    width: 90%;
    max-width: 2700px;
    margin: 20px auto;
    height: 700px;
}

    .main .articles {
        width: 68.5%;
        margin-right: 1.5%;
        float: left;
        
    }
/*Se agranda lo blanco*/
        .main .articles article {
            padding: 20px;
            background: #fff;
            margin-bottom: 20px;
            float: left;
            height: 550px;
        }

aside {
    width: 30%;
    background: #fff;
    float: left;
}

h2 {
    color: #020448;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: #fff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: #020448;
    padding-block-start: 10px;
    align-content: center;
}

h4 {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    max-width: 1170px;
    margin: auto;
}

footer {
    background: #88C5FF;
    padding: 40px 0 25px 0;
    position: relative;
}

    footer .generalWrap {
        grid-gap: 24px;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }

    footer .generalWrap {
        border-bottom: 1px solid rgba(255,255,255,.15);
        display: grid;
        grid-template-columns: repeat(5,auto);
        justify-content: center;
        padding: 0 0 30px 0;
    }

.generalWrap {
    margin: 0 14px;
}

.generalWrap {
    margin: 0 22px;
}

.generalWrap {
    margin: auto;
    max-width: 1280px;
    position: relative;
}

footer .footNav {
    grid-template-columns: repeat(1,1fr);
}

@media only screen and (max-width: 770px) footer .footNav {
    grid-gap: 0;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

@media only screen and (max-width: 880px) footer .footNav {
    grid-gap: 30px;
}

footer .footNav {
    display: grid;
    font-size: 1.05em;
    font-weight: 400;
    grid-gap: 60px;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    margin-top: 13px;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #020448;
}

footer i {
    color: #020448;
    font-size: 1.6em;
}


user agent stylesheet
i {
    font-style: italic;
}

footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

body, html {
    color: #3a3d4f;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0 !important;
}

.fa-phone:before {
    content: "\f095";
}

user agent stylesheet
i {
    font-style: italic;
}

footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

.fa-envelope:before {
    content: "\f0e0";
}


user agent stylesheet
i {
    font-style: italic;
}

footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

.fa-clock:before {
    content: "\f017";
}


footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

.fa-cloud:before {
    content: "\f0c2";
}

footer span {
    display: block;
    margin-top: 10px;
    line-height: 1.5em;
}

p, form, input, ul, ol, h1, h2, h3, h4, h5, h6, figure, hr, span, blockquote, fieldset {
    margin: 0px;
    padding: 0px;
}

footer a.mail {
    color: #fff;
}

footer a {
    color: #f7d93d;
    transition: all 0.3s ease;
    font-weight: 500;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 20px;
    background: #fff;
    padding-top: 200px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-block-end: 130px;
}

    .box-container .box {
        height: 8rem;
        width: 10rem;
        background: #88C5FF;
        text-align: center;
        border-radius: 2rem;
        box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .3);
        margin: 2rem;
        opacity: 95%;
        transition: all 400ms ease-out;
        cursor: default;
    }

    .box-container .box:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }

    .box-container .box i {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background: #020448;
        font-size: 2rem;
        margin: 1rem 0;
    }

    .box-container .box h4 {
        font-size: 15px;
        color: #020448;
    }

.about {
    background: #D9D9D9;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
}

details {
    background: #f2f2f2;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

summary {
    list-style: none;
    color: #020448;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

    details:hover {
        background: #dddcdc;
    }

    summary:before {
        content: '+';
        padding-right: 1rem;
    }

details[open] summary::before {
    content: '-';
}

.lista {
    color: #020448;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-left: 25px;
}

.hiper {
    height: 8rem;
    width: 10rem;
    background: #88C5FF;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .3);
    margin: 2rem;
    opacity: 95%;
    transition: all 400ms ease-out;
    cursor: default;
}
    .hiper:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }
    .hiper i {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background: #020448;
        font-size: 2rem;
        margin: 1rem 0;
    }

    .hiper h4 {
        font-size: 15px;
        color: #020448;
    }
.listaAside {
    color: #020448;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 15px;
}

    .listaAside:hover {
        background: #bbbbbb;
    }
.ruta {
    color: #020448;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 17px;
    padding-block-end: 1px;
    float: left;
}

    .ruta:hover {
        text-decoration: underline #020448;
        background: #fff;
        float: left;
    }
.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonHome {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 15%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
}

.button:hover {
    background: cadetblue;
}

.buttonHome:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

    .link:hover {
        color: cadetblue;
    }

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
.icon {
    min-width: 70px;
    text-align: center;
    color: #666666;
    margin-top: 13px;
}