﻿* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

nav {
    background: #bb173d;
    height: 40px;
    width: 100%;
    margin-top: 0px;
}

logo {
    height: 70px;
    width: 90px;
    margin-top: 3px;
}

nav ul {
    text-align: center;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 40px;
        margin: 0 5px;
    }

        nav ul li a {
            color: #fff;
            padding: 7px 13px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 16px;
        }

li a.active, li a:hover {
    background: #000090;
    transition: .5s;
}

h2 {
    color: #020448;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    line-height: 80px;
}

section {
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

        nav ul li a {
            font-size: 20px;
        }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

.container {
    max-width: 1170px;
    margin: auto;
}

footer {
    background: #032240;
    padding: 40px 0 25px 0;
    position: sticky;
    bottom: 0px;
}

    footer .generalWrap {
        grid-gap: 24px;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }

    footer .generalWrap {
        border-bottom: 1px solid rgba(255,255,255,.15);
        display: grid;
        grid-template-columns: repeat(5,auto);
        justify-content: center;
        padding: 0 0 30px 0;
    }

.generalWrap {
    margin: 0 14px;
}

.generalWrap {
    margin: 0 22px;
}

.generalWrap {
    margin: auto;
    max-width: 1280px;
    position: relative;
}

footer .footNav {
    grid-template-columns: repeat(1,1fr);
}

@media only screen and (max-width: 770px) footer .footNav {
    grid-gap: 0;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

@media only screen and (max-width: 880px) footer .footNav {
    grid-gap: 30px;
}

footer .footNav {
    display: grid;
    font-size: 1.05em;
    font-weight: 400;
    grid-gap: 60px;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    margin-top: 13px;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #d0d1df;
}

footer i {
    color: #020448;
    font-size: 1.6em;
}


user agent stylesheet
i {
    font-style: italic;
}

footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

body, html {
    color: #3a3d4f;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0 !important;
}

.fa-phone:before {
    content: "\f095";
}

user agent stylesheet
i {
    font-style: italic;
}

footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

.fa-envelope:before {
    content: "\f0e0";
}


user agent stylesheet
i {
    font-style: italic;
}

footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

.fa-clock:before {
    content: "\f017";
}


footer .generalWrap > div {
    border-right: 1px solid rgba(255,255,255,.15);
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
}

.fa-cloud:before {
    content: "\f0c2";
}

footer span {
    display: block;
    margin-top: 10px;
    line-height: 1.5em;
}

p, form, input, ul, ol, h1, h2, h3, h4, h5, h6, figure, hr, span, blockquote, fieldset {
    margin: 0px;
    padding: 0px;
}

footer a.mail {
    color: #fff;
}

footer a {
    color: #f7d93d;
    transition: all 0.3s ease;
    font-weight: 500;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

}
/*Tarjetas*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-card {
    width: 100%;
    display: flex;
    max-width: 12000px;
    margin: auto;
    padding-top: 0px;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: #7a7a7a;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

    .card:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }

    .card img {
        width: 100%;
        height: 200px;
    }

    .card .contenido-card {
        padding: 15px;
        text-align: center;
    }

        .card .contenido-card h3 {
            margin-bottom: 15px;
            color: #7a7a7a;
        }

        .card .contenido-card p {
            line-height: 1.8;
            color: #6a6a6a;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .card .contenido-card a {
            display: inline-block;
            padding: 10px;
            margin-top: 10px;
            text-decoration: none;
            color: #2fb4cc;
            border: 1px solid #2fb4cc;
            border-radius: 4px;
            transition: all 400ms ease;
            margin-bottom: 5px;
        }

            .card .contenido-card a:hover {
                background: #2fb4cc;
                color: #fff;
            }

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card {
        margin: 15px;
    }
}


/*Todo*/
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #171717;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #020448;
    color: #fff;
    text-decoration: none;
    background: #020448;
}

    .btn:hover {
        background: none;
    }

.btn-home {
    display: flex;
}

    .btn-home a {
        margin: 0 10px;
    }


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #fff;
    padding-top: 200px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-block-end: 70px;
    margin-top: 20px;
}

    .box-container .box {
        height: 11rem;
        width: 17rem;
        background: #032240;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
        margin: 2rem;
        opacity: 95%;
    }

        .box-container .box i {
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            background: #020448;
            font-size: 2rem;
            margin: 1rem 0;
        }

        .box-container .box h3 {
            font-size: 20px;
            color: #d0d1df;
        }

        .box-container .box p {
            padding: 0 15px;
            font-size: 16px;
        }

.about {
    background: #D9D9D9;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
}
